.AlbumCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1rem;
  }
  
.AlbumCard:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
  }

  .AlbumCard .card > img {
      border:1px inset lightgoldenrodyellow !important;
  }

.AlbumCard .card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem!important;
    color: #822537;
    font-size: medium;
  }

  .AlbumCard .card-text {
    margin-bottom:0.5rem;
    font-size: small;
    height: max-content;
  }

  .AlbumCard .artistLink {
    color: #822537;
    margin: 0px;text-decoration: underline;
  }
  