.p-login>.login-main {
    margin: 40px auto 60px auto;
   
}



.loginArticle {
    background-color: #f6d5aa;
    color: #5b3f31;
    font-family: "Assistant";
}


.loginCol>p {
    text-align: center;
}

.loginCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    margin: 0;
    align-self: stretch;
  }