.playlistPic {
    border:1px inset lightgoldenrodyellow;
    border-radius: 10px;
    height: 320px;
    width: 320px;
}

.playlistDesc {
    direction: rtl;
    text-align: right;
    display: flex;
    align-items: flex-end;
}