.Accordion {
    height: 100%;
    margin-bottom: 1rem;
}

.Accordion>.card {
    height: 100%;
}

.Accordion img {
    height: 64px!important;
    width: 64px!important;
    border-radius: 10px!important;
    object-fit: cover;
    border: 1px solid lightgray;
    padding: 2px;
    margin-left: 0.5rem;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.toggle {
    margin-left: auto;
}
.altName {
    font-size: 0.8rem;
}

.cardBody {
    display: flex;
}