footer {
    background-color: #fa6f34;
    color: #f6d5aa!important;
    font-family: 'Alef';
    font-size: 1rem;
}

.footer-copyright {
    background-color: #da6331;
    color: #f6d5aa!important;
}

footer a {
    color: #f6d5aa!important;
}

.footerflexlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlogo {
    opacity: 0.3;
    width: 40%;
  }

  footer .cont {
  width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
  }