.p-signin>.signin-main {
    margin: 40px auto;
}

.p-signin button {
    font-weight: bold;
    background-color: #822537;
    border-color:#822537;
}
.p-signin button:hover {
    font-weight: bold;
    background-color: #681f2d;
    border-color:#681f2d;
}

.signinArticle {
    background-color: #f6d5aa;
    color: #5b3f31;
    font-family: "Assistant";
}

hr {
    margin: 0;
    align-self: stretch;
  }

  .signinCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ifloginflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ifloginflex>p {
    text-align: center;
}